@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #000000;
}
